配电开关
{%extends 'demo/base/base_machine.html'%}

{%block title%}配电开关{%endblock title%}

{%block page_name%}配电开关{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>配电开关表</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>编号</th>

											<th class="hidden-480">配电开关名称</th>

											<th>配电开关状态</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>1</td>


											<td class="hidden-480">配电开关1</td>

											<td><span class="label label-danger">  	关  </span></td>

										</tr>

										<tr>

											<td>2</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">配电开关2</td>

											<td><span class="label label-danger"> 	 关  </span></td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}