采购管理
{%extends 'demo/base/base_buy.html'%}

{%block title%}采购管理{%endblock title%}

{%block page_name%}采购管理{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>采购管理</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>原件料号</th>

											<th class="hidden-480">品名</th>

											<th>需进货量</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>103001104</td>


											<td class="hidden-480">电箱下箱体总成(BC1-C) 版本B</td>

											<td>10000</td>

										</tr>

										<tr>

											<td>206040431</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">电箱下箱体_冲压_C箱_240Ah总成-外协加工</td>

											<td>2000</td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}