供应商管理
{%extends 'demo/base/base_buy.html'%}

{%block title%}供应商管理{%endblock title%}

{%block page_name%}供应商管理{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>供应商</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>编号</th>

											<th class="hidden-480">供应商名称</th>

											<th>供应商地址</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>1</td>


											<td class="hidden-480">xx有限公司</td>

											<td>福建省福州市</td>

										</tr>

										<tr>

											<td>2</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">xx有限公司</td>

											<td>浙江省杭州市</td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}