{%extends 'demo/base/base.html'%}

{%block display_machine%}style="display: none;"{%endblock display_machine%}
{%block display_product%}style="display: block;"{%endblock display_product%}>
{%block display_envir%}style="display: none;"{%endblock display_envir%}>



{%block page_title%}
<ul class="breadcrumb">

    <li>

        <i class="icon-home"></i>

        <a href="{%url 'demo:index'%}">产品管理</a>

        <i class="icon-angle-right"></i>

    </li>

    <li><a href="#">{%block page_name%}block page_name{%endblock page_name%}</a></li>

    <li class="pull-right no-text-shadow">
        <!--主面板右侧-->
    </li>

</ul>
{%endblock page_title%}

{%block big_title%}
<h3 class="page-title">

    产品管理

</h3>
{%endblock big_title%}