辅料库
{%extends 'demo/base/base_inventory.html'%}

{%block title%}辅料库{%endblock title%}

{%block page_name%}辅料库{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>辅料</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>辅料料号</th>

											<th class="hidden-480">品名</th>

											<th>库存</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>301020597</td>


											<td class="hidden-480">酸洗板SPHC-P</td>

											<td>0</td>

										</tr>

										<tr>

											<td>203001638</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">内加强梁螺母衬板FR-外协</td>

											<td>0</td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}