成品库
{%extends 'demo/base/base_inventory.html'%}

{%block title%}成品库{%endblock title%}

{%block page_name%}成品库{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>成品</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>产品</th>

											<th class="hidden-480">现有库存</th>

											<th>记录更新日期</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>15180-2045</td>


											<td class="hidden-480">100</td>

											<td>2017/01/01</td>

										</tr>

										<tr>

											<td>15180-0303</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">100</td>

											<td>2017/01/01</td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}