原材料库
{%extends 'demo/base/base_inventory.html'%}

{%block title%}原材料库{%endblock title%}

{%block page_name%}原材料库{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>原材料</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>元件料号</th>

											<th class="hidden-480">规格</th>

											<th>现有库存</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>103001104</td>


											<td class="hidden-480">500105-00042</td>

											<td>0</td>

										</tr>

										<tr>

											<td>206040431</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">500105-00042 V:B</td>

											<td>0</td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}