客户管理
{%extends 'demo/base/base_sale.html'%}

{%block title%}客户管理{%endblock title%}

{%block page_name%}客户管理{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>客户管理</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>编号</th>

											<th class="hidden-480">客户姓名</th>

											<th>收货地址</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>1</td>


											<td class="hidden-480">陈先生</td>

											<td>福建省福州市鼓楼区  </td>

										</tr>

										<tr>

											<td>2</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">王女士</td>

											<td>	 福建省福州市仓山区  </td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}