订单管理
{%extends 'demo/base/base_sale.html'%}

{%block title%}订单管理{%endblock title%}

{%block page_name%}订单管理{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

							<div class="portlet-title">

								<div class="caption"><i class="icon-coffee"></i>订单管理</div>

								<div class="tools">

									<a href="javascript:;" class="collapse"></a>

									<a href="#portlet-config" data-toggle="modal" class="config"></a>

									<a href="javascript:;" class="reload"></a>

									<a href="javascript:;" class="remove"></a>

								</div>

							</div>

							<div class="portlet-body">

								<table class="table table-bordered table-hover">

									<thead>

										<tr>

											<th>产品</th>

											<th class="hidden-480">需求数量</th>

											<th>生产进度</th>

										</tr>

									</thead>

									<tbody>

										<tr>

											<td>15180-2045</td>


											<td class="hidden-480">5400</td>

											<td>0%  </td>

										</tr>

										<tr>

											<td>15180-2046</td>

											<!--<td>Jacob</td>-->

											<!--<td>Nilson</td>-->

											<td class="hidden-480">5400</td>

											<td>0%</td>

										</tr>






									</tbody>

								</table>

							</div>

						</div>
{%endblock up_left%}