<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}base{%endblock title%}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/power.css">
</head>
<body>

<div class="container">
    <div class="main">
        <nav id="cbp-hrmenu" class="cbp-hrmenu">
            <ul>
                <li>
                    <a href="#">动力监控</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>配电开关</h4>
                                <ul>
                                    <li><a href="#">冲压线A</a></li>
                                    <li><a href="#">冲压线B</a></li>
                                    <!--<li><a href="#">Fallen Angel</a></li>-->
                                    <!--<li><a href="#">Sui Maker</a></li>-->
                                    <!--<li><a href="#">Wave Master</a></li>-->
                                    <!--<li><a href="#">Golf Pro</a></li>-->
                                </ul>
                            </div>
                            <div>
                                <h4>精密配电柜</h4>
                                <ul>
                                    <li><a href="#">精密配电柜A</a></li>
                                    <li><a href="#">精密配电柜B</a></li>
                                    <!--<li><a href="#">Green Tree Pro</a></li>-->
                                    <!--<li><a href="#">Wobbler 3.0</a></li>-->
                                    <!--<li><a href="#">Coolkid</a></li>-->
                                </ul>
                            </div>
                            <div>
                                <h4>发电机</h4>
                                <ul>
                                    <li><a href="#">A线发电机</a></li>
                                    <li><a href="#">B线发电机</a></li>
                                    <!--<li><a href="#">Chemokid</a></li>-->
                                </ul>
                                <!--<h4>Professionals</h4>-->
                                <!--<ul>-->
                                <!--<li><a href="#">Success 1.0</a></li>-->
                                <!--<li><a href="#">Moneymaker</a></li>-->
                                <!--</ul>-->
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">环境监控</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>新风机</h4>
                                <ul>
                                    <li><a href="#">新风机A</a></li>
                                    <li><a href="#">新风机B</a></li>
                                    <!--<li><a href="#">Chemokid</a></li>-->
                                </ul>
                                <h4>灯光照明</h4>
                                <ul>
                                    <li><a href="#">灯光照明A</a></li>
                                    <li><a href="#">灯光照明B</a></li>
                                </ul>

                            </div>
                            <div>
                                <h4>排风机</h4>
                                <ul>
                                    <li><a href="#">排风机A</a></li>
                                    <li><a href="#">排风机B</a></li>
                                    <!--<li><a href="#">Green Tree Pro</a></li>-->
                                    <!--<li><a href="#">Holy Cannoli</a></li>-->
                                    <!--<li><a href="#">Wobbler 3.0</a></li>-->
                                    <!--<li><a href="#">Coolkid</a></li>-->
                                </ul>
                                <h4>防雷监测</h4>
                                <ul>
                                    <li><a href="#">防雷监测A</a></li>
                                    <li><a href="#">防雷监测B</a></li>
                                    <!--<li><a href="#">Chemokid</a></li>-->
                                </ul>
                            </div>
                            <div>
                                <h4>温湿度</h4>
                                <ul>
                                    <li><a href="#">温度</a></li>
                                    <li><a href="#">湿度</a></li>
                                    <!--<li><a href="#">Fallen Angel</a></li>-->
                                    <!--<li><a href="#">Sui Maker</a></li>-->
                                    <!--<li><a href="#">Wave Master</a></li>-->
                                    <!--<li><a href="#">Golf Pro</a></li>-->
                                </ul>
                                <h4>漏水</h4>
                                <ul>
                                    <li><a href="#">漏水A</a></li>
                                    <li><a href="#">漏水B</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">安保监控</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>厂房区域实时图像</h4>
                                <ul>
                                    <li><a href="#">厂房区域实时图像A</a></li>
                                    <li><a href="#">厂房区域实时图像B</a></li>
                                </ul>
                                <!--<h4>Utilities</h4>-->
                                <!--<ul>-->
                                <!--<li><a href="#">Gadget Finder</a></li>-->
                                <!--<li><a href="#">Green Tree Express</a></li>-->
                                <!--<li><a href="#">Green Tree Pro</a></li>-->
                                <!--<li><a href="#">Wobbler 3.0</a></li>-->
                                <!--<li><a href="#">Coolkid</a></li>-->
                                <!--</ul>-->
                            </div>
                            <div>
                                <h4>火警信号</h4>
                                <ul>
                                    <li><a href="#">火警信号A</a></li>
                                    <li><a href="#">火警信号B</a></li>
                                    <!--<li><a href="#">Chemokid</a></li>-->
                                </ul>
                                <!--<h4>Professionals</h4>-->
                                <!--<ul>-->
                                <!--<li><a href="#">Success 1.0</a></li>-->
                                <!--<li><a href="#">Moneymaker</a></li>-->
                                <!--</ul>-->
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">平台报警</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>报警方式</h4>
                                <ul>
                                    <li><a href="#">界面报警</a></li>
                                    <li><a href="#">短信报警</a></li>
                                    <li><a href="#">语音报警</a></li>
                                    <li><a href="#">邮件报警</a></li>
                                    <li><a href="#">声光报警</a></li>
                                    <li><a href="#">一键报警</a></li>
                                    <!--</ul>-->
                                    <!--<h4>Utilities</h4>-->
                                    <!--<ul>-->
                                    <!--<li><a href="#">Gadget Finder</a></li>-->
                                    <!--<li><a href="#">Green Tree Express</a></li>-->
                                    <!--</ul>-->
                            </div>
                            <!--<div>-->
                            <!--<h4>Entertainment</h4>-->
                            <!--<ul>-->
                            <!--<li><a href="#">Gadget Finder</a></li>-->
                            <!--<li><a href="#">Green Tree Express</a></li>-->
                            <!--<li><a href="#">Green Tree Pro</a></li>-->
                            <!--<li><a href="#">Holy Cannoli</a></li>-->
                            <!--<li><a href="#">Wobbler 3.0</a></li>-->
                            <!--<li><a href="#">Coolkid</a></li>-->
                            <!--</ul>-->
                            <!--</div>-->
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">产品管理</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4>工艺管理</h4>
                                <ul>
                                    <li><a href="#">工艺管理A</a></li>
                                    <li><a href="#">工艺管理B</a></li>
                                    <!--<li><a href="#">Coolkid</a></li>-->
                                </ul>
                                <h4>产品档案管理</h4>
                                <ul>
                                    <li><a href="#">产品档案管理A</a></li>
                                    <li><a href="#">产品档案管理B</a></li>
                                    <!--<li><a href="#">Chemokid</a></li>-->
                                </ul>
                            </div>
                            <div>
                                <h4>计划排产</h4>
                                <ul>
                                    <li><a href="#">计划排产A</a></li>
                                    <li><a href="#">计划排产B</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4>订单状态监控</h4>
                                <ul>
                                    <li><a href="#">订单状态监控A</a></li>
                                    <li><a href="#">订单状态监控B</a></li>
                                    <!--<li><a href="#">Fallen Angel</a></li>-->
                                    <!--<li><a href="#">Sui Maker</a></li>-->
                                    <!--<li><a href="#">Wave Master</a></li>-->
                                    <!--<li><a href="#">Golf Pro</a></li>-->
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
            </ul>
        </nav>
    </div>
</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/cbpHorizontalMenu.min.js"></script>
<script type="text/javascript">
    $(function () {
        cbpHorizontalMenu.init();
    });


</script>
{%block content%}
<div id="div_content">
<p style="text-align: center"><img src="/static/image/banner1.jpg" ></p>
</div>
{%endblock content%}
</body>
</html>

