<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="date" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-reva lidate">
    <meta http-equiv="expires" content="0">
    <title>Device(IPCamera)</title>
    <script>
        var cookieuser = '';
        var cookiepass = '';
        var cookiepri = 255;
        var reboot_seconds = 30;
        var goback_page = "";
        var language = 0;
        var varRebootInfo = "";
    </script>
</head>
<body style=" margin-bottom:0px; margin-left:0px; margin-right:0px; margin-top:0px; padding-bottom:0px; padding-left:0px; padding-right:0px; padding-top:0px; background-color:transparent">
<iframe id="mainUrl" src="index1.htm" scrolling="no" allowtransparency="true" width="960" height="710"
        frameborder="0"></iframe>

</body>
</html>