工艺管理
{%extends 'demo/base/base_data.html'%}

{%block title%}工艺管理{%endblock title%}

{%block page_name%}工艺管理{%endblock page_name%}


{%block up_left%}
<div class="portlet box yellow">

    <div class="portlet-title">

        <div class="caption"><i class="icon-coffee"></i>电箱下箱体-冲压C箱240A-总成焊接</div>

        <div class="tools">

            <a href="javascript:;" class="collapse"></a>

            <a href="#portlet-config" data-toggle="modal" class="config"></a>

            <a href="javascript:;" class="reload"></a>

            <a href="javascript:;" class="remove"></a>

        </div>

    </div>

    <div class="portlet-body">

        <table class="table table-bordered table-hover">

            <thead>

            <tr>

                <th>工序号</th>

                <th class="hidden-480">工序名</th>

                <th>操作描述</th>
                <th>特殊特性</th>

            </tr>

            </thead>

            <tbody>

            <tr>

                <td>1</td>


                <td>
                    移动
                </td>
                <td class="hidden-480">外加强梁总成RH（500105-00042-04-01）、外加强梁总成LH（500105-00042-05-01）备料</td>
                <td>

                </td>
            </tr>

            <tr>

                <td>2</td>

                <!--<td>Jacob</td>-->

                <!--<td>Nilson</td>-->

                <td class="hidden-480">生产</td>

                <td>	焊接（相应对位强度补强） </td>

                <td>	 ▼焊接强度确认  </td>
            </tr>


            </tbody>

        </table>

    </div>

</div>
{%endblock up_left%}

{%block down_left%}
<div class="portlet box yellow">

    <div class="portlet-title">

        <div class="caption"><i class="icon-coffee"></i>电箱箱盖_冲压_C箱_上盖总成-组立</div>

        <div class="tools">

            <a href="javascript:;" class="collapse"></a>

            <a href="#portlet-config" data-toggle="modal" class="config"></a>

            <a href="javascript:;" class="reload"></a>

            <a href="javascript:;" class="remove"></a>

        </div>

    </div>

    <div class="portlet-body">

        <table class="table table-bordered table-hover">

            <thead>

            <tr>

                <th>工序号</th>

                <th class="hidden-480">工序名</th>

                <th>操作描述</th>
                <th>特殊特性</th>

            </tr>

            </thead>

            <tbody>

            <tr>

                <td>1</td>


                <td>
                    移动
                </td>
                <td class="hidden-480">线束支架(500405-00013-04)、电箱箱盖（500405-00013-01）备料</td>
                <td>

                </td>
            </tr>

            <tr>

                <td>2</td>

                <!--<td>Jacob</td>-->

                <!--<td>Nilson</td>-->

                <td class="hidden-480">生产</td>

                <td>	焊接 </td>

                <td>	 ▼焊接强度确认  </td>
            </tr>


            </tbody>

        </table>

    </div>

</div>
{%endblock down_left%}